.container-error {
    justify-content: center;
    height: 100px;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 400px 0;
    color: black;
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
}

.imagen {
    background-image: url("/assets/img/error.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 0.5%;
    padding-bottom: 25%;
}