<div class="imagen">
    <div class="container-error">
        <div>
            <span>Ha ocurrido un error</span>
        </div>
        <div>
            <a routerLink="" class="btn btn-primary" role="button">Volver al login</a>
        </div>
    </div>
</div>