<app-nav-bar></app-nav-bar>
<div>
    <span class="login100-form-title p-b-51">
        Uh-Ren
    </span>
</div>
<div class="about-us mt-3">
    <h2>Sobre nosotros</h2>
</div>
<br>
<div class="about-explanation">
    <p>Uh-Ren es el proyecto final de el grupo 5 de Daw del segundo semestre del curso 20/21 del Institut Obert de Catalunya, compuesto por Carlos, Andrea y José.</p>
    <p>Esta API REST registra las horas de trabajo de los empleados de una empresa.</p>
    <p>Link a los repositorios:</p>
    <div class="about-links">
        <a href="https://bitbucket.org/CarlosKadabra/uh-ren/src/develop/" class="btn btn-primary" target="_blank" role="button">Uh-ren</a>
        <a href="https://github.com/AMPRay/uh-ren-api" class="btn btn-primary" target="_blank" role="button">Uh-ren API</a>
    </div>
</div>