.about-explanation {
    justify-content: center;
    text-align: center;
}

.about-us {
    text-align: center;
    color: #d6d6d7;
}

.about-links {
    display: flex;
    justify-content: center;
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
    margin: 10px;
}