<app-nav-bar></app-nav-bar>
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Usuarios</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th class="text-nowrap">Panel de acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users; let i = index">
                        <td>{{user.uid}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.position}}</td>
                        <td class="text-nowrap">
                            <button class="btn btn-sm btn-primary"
                                    (click)="updateUser(user.uid)">Edit</button>
                            &nbsp;
                            <button class="btn btn-sm btn-danger"
                                    (click)="delete(user.uid)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>