<app-nav-bar [userInfo]='userInfoById'></app-nav-bar>
<div class="container-home">
    <app-render-aside [userInfo]='userInfoById'></app-render-aside>
    <app-render-date [userInfo]='userInfoById'></app-render-date>
</div>