<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">

            <form (ngSubmit)="login( f )"
                  #f="ngForm"
                  class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Uh-Ren
                </span>

                <span *ngIf="f.submitted && f.controls['email'].errors"
                      class="text-danger animated fadeIn">Email not valid</span>

                <div class="wrap-input100 mb-3">
                    <input class="input100"
                           type="text"
                           name="email"
                           [(ngModel)]="user.email"
                           required
                           email
                           placeholder="Email">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['password'].errors"
                      class="text-danger animated fadeIn">more than 6 caracters are required</span>
                <div class="wrap-input100 mb-3"
                     data-validate="Password is required">
                    <input class="input100"
                           type="password"
                           name="password"
                           [(ngModel)]="user.password"
                           required
                           minlength="6"
                           placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full mb-2">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="remember"
                               class="input-checkbox100"
                               id="ckb1"
                               type="checkbox"
                               name="remember-me">
                        <a class="link-mail"
                           href="mailto:{{corporativeMail}}">Para recuperar contraseña contacta via E-mail</a>
                    </div>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn"
                            type="submit">
                        Log In
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>