<app-nav-bar></app-nav-bar>
<form name="profileForm">
    <div class="container pt-5">
        <div class="row" *ngIf="userInfo">
            <div class="col-md-6 pb-5">
                <h2>Datos del usuario</h2>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Empleado</label>
                    <input class="form-control" type="text" name="uid" value="#{{userInfo.uid}}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nombre</label>
                    <input class="form-control" [(ngModel)]="userInfo.name" type="text" name="name" value="{{userInfo.name}}" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Apellidos</label>
                    <input class="form-control" type="text" name="lastName" value="{{userInfo.lastName}}" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Puesto</label>
                    <input class="form-control" type="text" name="position" value="{{userInfo.position}}" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" name="email" value="{{userInfo.email}}" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="float-right">
                    <button type="button" class="btn btn-primary" (click)="createorupdate()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>