.user-list {
    background-color: transparent;
    li {
        background-color: transparent;
        border: transparent;
        border-bottom: 0.9px solid #d6d6d7;
        margin-bottom: 20px;
        padding-left: 0;
    }
}
