<ul class="list-group list-group-flush user-list"
    *ngIf="userInfo">
    <li class="list-group-item">CÓDIGO DE EMPLEADO <span><svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-align-start"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                <path d="M3 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7z" />
            </svg></span> #{{userInfo.uid | uppercase}}</li>
    <li class="list-group-item">NOMBRE <span><svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-align-start"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                <path d="M3 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7z" />
            </svg></span> {{userInfo.name | uppercase}}</li>
    <li class="list-group-item">APELLIDOS <span><svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-align-start"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                <path d="M3 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7z" />
            </svg></span> {{userInfo.lastName | uppercase}}</li>
    <li class="list-group-item">ROL DEL EMPLEADO <span><svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-align-start"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                <path d="M3 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7z" />
            </svg></span> {{userInfo.role | uppercase}}</li>
    <li class="list-group-item">CATEGORIA <span><svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-align-start"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                <path d="M3 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7z" />
            </svg></span> {{userInfo.position | uppercase}}</li>
    <li class="list-group-item">EMAIL <span><svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-align-start"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                <path d="M3 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7z" />
            </svg></span> {{userInfo.email | uppercase}}</li>
    <li class="list-group-item">HORAS TOTALES TRABAJADAS <span><svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="bi bi-align-start"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                <path d="M3 7a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7z" />
            </svg></span> {{userInfo.totalHoursEmployer | uppercase}}h</li>
</ul>