<div class="mt-3">
    <div>
        <h3>Fecha de registro horario</h3>
    </div>
    <form #f
          (ngSubmit)="onSubmit()"
          [formGroup]="schedule">
        <div class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control"
                           placeholder="yyyy-mm-dd"
                           name="dp"
                           ngbDatepicker
                           #d="ngbDatepicker"
                           formControlName='date'>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar"
                                (click)="d.toggle()"
                                type="button"><svg xmlns="http://www.w3.org/2000/svg"
                                 width="16"
                                 height="16"
                                 fill="currentColor"
                                 class="bi bi-calendar-minus"
                                 viewBox="0 0 16 16">
                                <path d="M5.5 9.5A.5.5 0 0 1 6 9h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z" />
                                <path
                                      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg></button>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h3 class="mb-5 mt-3">Hora de entrada</h3>
        </div>
        <div class="form-group center">
            <ngb-timepicker required
                            formControlName='in'></ngb-timepicker>
            <!-- <div *ngIf="ctrlIn.valid"
                 class="small form-text text-primary">Hora introducida correctamente</div>
            <div *ngIf="ctrlIn.errors"
                 class="small form-text text-danger">
                <div *ngIf="ctrlIn.errors['required']">Introduce la hora de Entrada</div>
                <div *ngIf="ctrlIn.errors['tooEarly']">No se ha llegado a esta hora</div>
            </div> -->
        </div>
        <div class="mb-5 mt-3">
            <h3>Hora de salida</h3>
        </div>
        <div class="form-group">
            <ngb-timepicker required
                            formControlName='out'></ngb-timepicker>
            <!-- <div *ngIf="ctrlOut.valid"
                 class="small form-text text-success">Hora introducida correctamente</div>
            <div *ngIf="ctrlOut.errors"
                 class="small form-text text-danger">
                <div *ngIf="ctrlOut.errors['required']">Introduce la hora de salida</div>
                <div *ngIf="ctrlOut.errors['tooEarly']">No se ha llegado a esta hora</div>
            </div> -->
        </div>
        <div *ngIf="submit"
             class="small form-text text-success">Hora Enviada correctamente</div>
        <div class="flex">
            <button class="btn">Submit</button>
        </div>
    </form>
</div>